# **1. Data cleaning**

In [1]:
import pandas as pd

In [54]:
df_2015 = pd.read_csv("Raw_Datasets/2015.csv")

df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [55]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [56]:
df_2015.columns = df_2015.columns.str.lower()
df_2015.columns

Index(['country', 'region', 'happiness rank', 'happiness score',
       'standard error', 'economy (gdp per capita)', 'family',
       'health (life expectancy)', 'freedom', 'trust (government corruption)',
       'generosity', 'dystopia residual'],
      dtype='object')

In [57]:
df_2015 = df_2015.rename(columns={
    "happiness rank" : "happiness_rank",
    "happiness score" : "happiness_score",
    "standard error": "standard_error",
    "economy (gdp per capita)" : "gbd_per_capita",
    "health (life expectancy)" : "life_expectancy",
    "trust (government corruption)": "government_corruption",
    "dystopia residual" : "dystopia_residual"
})

df_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [58]:
null_values_2015 = df_2015.isnull().sum()
null_values_2015

country                  0
region                   0
happiness_rank           0
happiness_score          0
standard_error           0
gbd_per_capita           0
family                   0
life_expectancy          0
freedom                  0
government_corruption    0
generosity               0
dystopia_residual        0
dtype: int64

In [59]:
df_2015.shape

(158, 12)

In [60]:
safe_df_2015 = df_2015.copy()

In [61]:
df_2016 = pd.read_csv("Raw_Datasets/2016.csv")
print(df_2016.head())

null_values_2016 = df_2016.isnull().sum()
null_values_2016

       Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   Lower Confidence Interval  Upper Confidence Interval  \
0                      7.460                      7.592
1                      7.428                      7.590
2                      7.333                      7.669
3                      7.421                      7.575
4                      7.351                      7.475

   Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                   1.44178  1.16374                   0.79504  0.57941
1                   1.52733  1.14524                   0.86303  0.58557
2                   1.42666  1.18326                   0.86733  0.56624
3                   1.57744  1.12690                   0.79579  0.59609
4                   1.40598  1.13464                   0.81091  0.57104

   Trust (Government Corruption)  Generosity  Dystopia Residual
0                        0.44453     0.36171            2.73939
1                        0.41203     0.28083            2.69463
2                        0.14975     0.47678            2.83137
3                        0.35776     0.37895            2.66465
4                        0.41004     0.25492            2.82596

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [62]:
safe_df_2016 = df_2016.copy()

In [63]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [64]:
df_2016 = df_2016.rename(columns={
    "Country" : "country",
    "Region" : "region",
    "Happiness Rank" : "happiness_rank",
    "Happiness Score" : "happiness_score",
    "Lower Confidence Interval" : "lower_confidence_interval",
    "Upper Confidence Interval" : "upper_confidence_interval",
    "Economy (GDP per Capita)" : "gbd_per_capita",
    "Family" : "family",
    "Health (Life Expectancy)" : "life_expectancy",
    "Freedom" : "freedom",
    "Trust (Government Corruption)": "government_corruption",
    "Generosity": "generosity",
    "Dystopia Residual" : "dystopia_residual"
})

df_2016.head()

,country,region,happiness_rank,happiness_score,lower_confidence_interval,upper_confidence_interval,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [65]:
df_2016.shape

(157, 13)

In [66]:
df_2017 = pd.read_csv("Raw_Datasets/2017.csv")
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [67]:
safe_df_2017 = df_2017.copy()

In [68]:
df_2017 = df_2017.rename(columns={
    "Country" : "country",
    "Happiness.Rank" : "happiness_rank",
    "Happiness.Score" : "happiness_score",
    "Whisker.high" : "whisker.high",
    "Whisker.low" : "whisker.low",
    "Economy..GDP.per.Capita." : "gbd_per_capita",
    "Family" : "family",
    "Health..Life.Expectancy." : "life_expectancy",
    "Freedom" : "freedom",
    "Trust..Government.Corruption.": "government_corruption",
    "Generosity": "generosity",
    "Dystopia.Residual" : "dystopia_residual"
})

df_2017.head()

,country,happiness_rank,happiness_score,whisker.high,whisker.low,gbd_per_capita,family,life_expectancy,freedom,generosity,government_corruption,dystopia_residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [69]:
null_values_2017 = df_2017.isnull().sum()
null_values_2017

country                  0
happiness_rank           0
happiness_score          0
whisker.high             0
whisker.low              0
gbd_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    0
dystopia_residual        0
dtype: int64

In [70]:
df_2018 = pd.read_csv("Raw_Datasets/2018.csv")
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [71]:
safe_df_2018 = df_2018.copy()

In [72]:
df_2018 = df_2018.rename(columns={
    "Country or region" : "country",
    "Overall rank" : "happiness_rank",
    "Score" : "happiness_score",
    "GDP per capita" : "gbd_per_capita",
    "Social support" : "family",
    "Healthy life expectancy" : "life_expectancy",
    "Freedom to make life choices" : "freedom",
    "Perceptions of corruption": "government_corruption",
    "Generosity": "generosity",
})

df_2018.head()

,happiness_rank,country,happiness_score,gbd_per_capita,family,life_expectancy,freedom,generosity,government_corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [73]:
df_2018.shape

(156, 9)

In [74]:
null_values_2018 = df_2018.isnull().sum()
null_values_2018

happiness_rank           0
country                  0
happiness_score          0
gbd_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    1
dtype: int64

In [75]:
df_2019 = pd.read_csv("Raw_Datasets/2019.csv")
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [76]:
df_2019.tail()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [77]:
safe_df_2019 = df_2019.copy()

In [78]:
df_2019 = df_2019.rename(columns={
    "Country or region" : "country",
    "Overall rank" : "happiness_rank",
    "Score" : "happiness_score",
    "GDP per capita" : "gbd_per_capita",
    "Social support" : "family",
    "Healthy life expectancy" : "life_expectancy",
    "Freedom to make life choices" : "freedom",
    "Perceptions of corruption": "government_corruption",
    "Generosity": "generosity",
})

df_2019.head()

,happiness_rank,country,happiness_score,gbd_per_capita,family,life_expectancy,freedom,generosity,government_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [79]:
null_values_2019 = df_2019.isnull().sum()
null_values_2019

happiness_rank           0
country                  0
happiness_score          0
gbd_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    0
dtype: int64

In [80]:
df_2019.tail()

,happiness_rank,country,happiness_score,gbd_per_capita,family,life_expectancy,freedom,generosity,government_corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [81]:
# function to reorder the columns so that we concat everything will be in place

def reorder_columns(df, column_order):
    # Insures that every column exists (if there is something missing adds NaN
    for col in column_order:
        if col not in df.columns:
            df[col] = None  

    # Reorders the columns
    return df[column_order]

In [82]:
standard_columns = [
    'country','happiness_rank', 'happiness_score',
    'gdp_per_capita', 'family', 'life_expectancy', 'freedom',
    'government_corruption', 'generosity', 'dystopia_residual'
]

In [83]:
# reordering for every dataset

safe_df_2015 = reorder_columns(df_2015, standard_columns)
df_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,gdp_per_capita
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,None
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,None
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,None
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,None
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,None

In [88]:
print(df_2015.columns)

Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'standard_error', 'gbd_per_capita', 'family', 'life_expectancy',
       'freedom', 'government_corruption', 'generosity', 'dystopia_residual',
       'gdp_per_capita'],
      dtype='object')

In [89]:
# droping columns that don't add much information and that the others datasets don't have

df_2015 = df_2015.drop(columns=["region", "standard_error", "gdp_per_capita"])
df_2015.head()

,country,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [84]:
df_2016 = reorder_columns(df_2016, standard_columns)
df_2016.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Denmark,1,7.526,None,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,2,7.509,None,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,3,7.501,None,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,4,7.498,None,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,5,7.413,None,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [85]:
df_2017 = reorder_columns(df_2017, standard_columns)
df_2017.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Norway,1,7.537,None,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,2,7.522,None,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,3,7.504,None,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,4,7.494,None,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,5,7.469,None,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [86]:
df_2018 = reorder_columns(df_2018, standard_columns)
df_2018.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Finland,1,7.632,None,1.592,0.874,0.681,0.393,0.202,None
1,Norway,2,7.594,None,1.582,0.861,0.686,0.340,0.286,None
2,Denmark,3,7.555,None,1.590,0.868,0.683,0.408,0.284,None
3,Iceland,4,7.495,None,1.644,0.914,0.677,0.138,0.353,None
4,Switzerland,5,7.487,None,1.549,0.927,0.660,0.357,0.256,None

In [87]:
df_2019 = reorder_columns(df_2019, standard_columns)
df_2019.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Finland,1,7.769,None,1.587,0.986,0.596,0.393,0.153,None
1,Denmark,2,7.600,None,1.573,0.996,0.592,0.410,0.252,None
2,Norway,3,7.554,None,1.582,1.028,0.603,0.341,0.271,None
3,Iceland,4,7.494,None,1.624,1.026,0.591,0.118,0.354,None
4,Netherlands,5,7.488,None,1.522,0.999,0.557,0.298,0.322,None

In [94]:
df_2015['year'] = 2015
df_2016['year'] = 2016
df_2017['year'] = 2017
df_2018['year'] = 2018
df_2019['year'] = 2019

In [95]:
df_2015.head()

,country,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [96]:
df_2019.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,year
0,Finland,1,7.769,None,1.587,0.986,0.596,0.393,0.153,None,2019
1,Denmark,2,7.600,None,1.573,0.996,0.592,0.410,0.252,None,2019
2,Norway,3,7.554,None,1.582,1.028,0.603,0.341,0.271,None,2019
3,Iceland,4,7.494,None,1.624,1.026,0.591,0.118,0.354,None,2019
4,Netherlands,5,7.488,None,1.522,0.999,0.557,0.298,0.322,None,2019

# **2. This part of the code will save the 5 datasets as csv files**

In [97]:
import os

# adding a new folder named Clean_Datasets
output_folder = "Clean_Datasets"
os.makedirs(output_folder, exist_ok=True)

In [98]:
#

dfs_by_year = {
    2015: df_2015,
    2016: df_2016,
    2017: df_2017,
    2018: df_2018,
    2019: df_2019
}

# Saves each dataset in to csv files in a specific folder
for year, df in dfs_by_year.items():
    output_path = os.path.join(output_folder, f"clean_{year}.csv")
    df.to_csv(output_path, index=False)
    print(f"Saved: {output_path}")

Saved: Clean_Datasets\clean_2015.csv
Saved: Clean_Datasets\clean_2016.csv
Saved: Clean_Datasets\clean_2017.csv
Saved: Clean_Datasets\clean_2018.csv
Saved: Clean_Datasets\clean_2019.csv

# **3. Merging the datasets in one**
```

In [101]:
final_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

cols = final_df.columns.tolist()
cols.remove('year')
final_df = final_df[['year'] + cols]

final_df.to_csv("world_happyiness_5_years.csv", index=False)

final_df.head()

C:\Users\sofia\AppData\Local\Temp\ipykernel_9212\2817207272.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

,year,country,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,gdp_per_capita
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,NaN
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,NaN
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,NaN
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NaN
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,NaN

In [102]:
final_df = final_df.drop(columns=["gdp_per_capita"])
final_df.head()

,year,country,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [103]:
final_df

,year,country,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,152,3.334,NaN,0.71100,0.61400,0.55500,0.41100,0.21700,NaN
778,2019,Tanzania,153,3.231,NaN,0.88500,0.49900,0.41700,0.14700,0.27600,NaN
779,2019,Afghanistan,154,3.203,NaN,0.51700,0.36100,0.00000,0.02500,0.15800,NaN
780,2019,Central African Republic,155,3.083,NaN,0.00000,0.10500,0.22500,0.03500,0.23500,NaN
781,2019,South Sudan,156,2.853,NaN,0.57500,0.29500,0.01000,0.09100,0.20200,NaN

In [104]:
safe_final_df = final_df.copy()

In [105]:
final_df_null = final_df.isnull().sum()
final_df_null

year                       0
country                    0
happiness_rank             0
happiness_score            0
gbd_per_capita           624
family                     0
life_expectancy            0
freedom                    0
government_corruption      1
generosity                 0
dystopia_residual        312
dtype: int64

In [106]:
final_df.describe()

,year,happiness_rank,happiness_score,gbd_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
count,782.000000,782.000000,782.000000,158.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000
mean,2016.993606,78.698210,5.379018,0.846137,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717
std,1.417364,45.182384,1.127456,0.403121,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2016.000000,40.000000,4.509750,0.545808,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975
50%,2017.000000,79.000000,5.322000,0.910245,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640
75%,2018.000000,118.000000,6.189500,1.158448,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575
max,2019.000000,158.000000,7.769000,1.690420,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720

In [107]:
final_df.value_counts()

year  country                  happiness_rank  happiness_score  gbd_per_capita  family   life_expectancy  freedom  government_corruption  generosity  dystopia_residual
2015  Afghanistan              153             3.575            0.31982         0.30285  0.30335          0.23414  0.09719                0.36510     1.95210              1
      Palestinian Territories  108             4.715            0.59867         0.92558  0.66015          0.24499  0.12905                0.11251     2.04384              1
      Nicaragua                57              5.828            0.59325         1.14184  0.74314          0.55475  0.19317                0.27815     2.32407              1
      Niger                    144             3.845            0.06940         0.77265  0.29707          0.47692  0.15639                0.19387     1.87877              1
      Nigeria                  78              5.268            0.65435         0.90432  0.16007          0.34334  0.04030                0.27233     2.89319              1
                                                                                                                                                                          ..
      Guinea                   150             3.656            0.17417         0.46475  0.24009          0.37725  0.12139                0.28657     1.99172              1
      Haiti                    119             4.518            0.26673         0.74302  0.38847          0.24425  0.17175                0.46187     2.24173              1
      Honduras                 105             4.788            0.59532         0.95348  0.69510          0.40148  0.06825                0.23027     1.84408              1
      Hong Kong                72              5.474            1.38604         1.05818  1.01328          0.59608  0.37124                0.39478     0.65429              1
      Zimbabwe                 115             4.610            0.27100         1.03276  0.33475          0.25861  0.08079                0.18987     2.44191              1
Name: count, Length: 158, dtype: int64